# Downloading Data

In [73]:
import kagglehub

# Download latest version
path = kagglehub.dataset_download("abrambeyer/openintro-possum")

print("Path to dataset files:", path)

Path to dataset files: C:\Users\ncc\.cache\kagglehub\datasets\abrambeyer\openintro-possum\versions\1

# Ingesting Data

In [74]:
import numpy as np
import pandas as pd

In [75]:
df = pd.read_csv('possum.csv')
df2 = df.copy()

# Data Cleaning & Analysis

In [76]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 104 entries, 0 to 103
Data columns (total 14 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   case      104 non-null    int64
 1   site      104 non-null    int64
 2   Pop       104 non-null    object
 3   sex       104 non-null    object
 4   age       102 non-null    float64
 5   hdlngth   104 non-null    float64
 6   skullw    104 non-null    float64
 7   totlngth  104 non-null    float64
 8   taill     104 non-null    float64
 9   footlgth  103 non-null    float64
 10  earconch  104 non-null    float64
 11  eye       104 non-null    float64
 12  chest     104 non-null    float64
 13  belly     104 non-null    float64
dtypes: float64(10), int64(2), object(2)
memory usage: 11.5+ KB

In [77]:
# view the first 5 rows of the dataset
df2.head(5)

,case,site,Pop,sex,age,hdlngth,skullw,totlngth,taill,footlgth,earconch,eye,chest,belly
0,1,1,Vic,m,8.0,94.1,60.4,89.0,36.0,74.5,54.5,15.2,28.0,36.0
1,2,1,Vic,f,6.0,92.5,57.6,91.5,36.5,72.5,51.2,16.0,28.5,33.0
2,3,1,Vic,f,6.0,94.0,60.0,95.5,39.0,75.4,51.9,15.5,30.0,34.0
3,4,1,Vic,f,6.0,93.2,57.1,92.0,38.0,76.1,52.2,15.2,28.0,34.0
4,5,1,Vic,f,2.0,91.5,56.3,85.5,36.0,71.0,53.2,15.1,28.5,33.0

In [78]:
# view the last 5 rows of the dataset
df2.tail()

,case,site,Pop,sex,age,hdlngth,skullw,totlngth,taill,footlgth,earconch,eye,chest,belly
99,100,7,other,m,1.0,89.5,56.0,81.5,36.5,66.0,46.8,14.8,23.0,27.0
100,101,7,other,m,1.0,88.6,54.7,82.5,39.0,64.4,48.0,14.0,25.0,33.0
101,102,7,other,f,6.0,92.4,55.0,89.0,38.0,63.5,45.4,13.0,25.0,30.0
102,103,7,other,m,4.0,91.5,55.2,82.5,36.5,62.9,45.9,15.4,25.0,29.0
103,104,7,other,f,3.0,93.6,59.9,89.0,40.0,67.6,46.0,14.8,28.5,33.5

In [79]:
df2.describe(include='all')

,case,site,Pop,sex,age,hdlngth,skullw,totlngth,taill,footlgth,earconch,eye,chest,belly
count,104.000000,104.000000,104,104,102.000000,104.000000,104.000000,104.000000,104.000000,103.000000,104.000000,104.000000,104.000000,104.000000
unique,NaN,NaN,2,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
top,NaN,NaN,other,m,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
freq,NaN,NaN,58,61,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,52.500000,3.625000,NaN,NaN,3.833333,92.602885,56.883654,87.088462,37.009615,68.459223,48.130769,15.046154,27.000000,32.586538
std,30.166206,2.349086,NaN,NaN,1.909244,3.573349,3.113426,4.310549,1.959518,4.395306,4.109380,1.050374,2.045597,2.761949
min,1.000000,1.000000,NaN,NaN,1.000000,82.500000,50.000000,75.000000,32.000000,60.300000,40.300000,12.800000,22.000000,25.000000
25%,26.750000,1.000000,NaN,NaN,2.250000,90.675000,54.975000,84.000000,35.875000,64.600000,44.800000,14.400000,25.500000,31.000000
50%,52.500000,3.000000,NaN,NaN,3.000000,92.800000,56.350000,88.000000,37.000000,68.000000,46.800000,14.900000,27.000000,32.500000
75%,78.250000,6.000000,NaN,NaN,5.000000,94.725000,58.100000,90.000000,38.000000,72.500000,52.000000,15.725000,28.000000,34.125000
max,104.000000,7.000000,NaN,NaN,9.000000,103.100000,68.600000,96.500000,43.000000,77.900000,56.200000,17.800000,32.000000,40.000000

In [80]:
df2.value_counts()

case  site  Pop    sex  age  hdlngth  skullw  totlngth  taill  footlgth  earconch  eye   chest  belly
1     1     Vic    m    8.0  94.1     60.4    89.0      36.0   74.5      54.5      15.2  28.0   36.0     1
2     1     Vic    f    6.0  92.5     57.6    91.5      36.5   72.5      51.2      16.0  28.5   33.0     1
3     1     Vic    f    6.0  94.0     60.0    95.5      39.0   75.4      51.9      15.5  30.0   34.0     1
4     1     Vic    f    6.0  93.2     57.1    92.0      38.0   76.1      52.2      15.2  28.0   34.0     1
5     1     Vic    f    2.0  91.5     56.3    85.5      36.0   71.0      53.2      15.1  28.5   33.0     1
                                                                                                        ..
100   7     other  m    1.0  89.5     56.0    81.5      36.5   66.0      46.8      14.8  23.0   27.0     1
101   7     other  m    1.0  88.6     54.7    82.5      39.0   64.4      48.0      14.0  25.0   33.0     1
102   7     other  f    6.0  92.4     55.0    89.0      38.0   63.5      45.4      13.0  25.0   30.0     1
103   7     other  m    4.0  91.5     55.2    82.5      36.5   62.9      45.9      15.4  25.0   29.0     1
104   7     other  f    3.0  93.6     59.9    89.0      40.0   67.6      46.0      14.8  28.5   33.5     1
Name: count, Length: 101, dtype: int64

In [81]:
df2.drop_duplicates()

,case,site,Pop,sex,age,hdlngth,skullw,totlngth,taill,footlgth,earconch,eye,chest,belly
0,1,1,Vic,m,8.0,94.1,60.4,89.0,36.0,74.5,54.5,15.2,28.0,36.0
1,2,1,Vic,f,6.0,92.5,57.6,91.5,36.5,72.5,51.2,16.0,28.5,33.0
2,3,1,Vic,f,6.0,94.0,60.0,95.5,39.0,75.4,51.9,15.5,30.0,34.0
3,4,1,Vic,f,6.0,93.2,57.1,92.0,38.0,76.1,52.2,15.2,28.0,34.0
4,5,1,Vic,f,2.0,91.5,56.3,85.5,36.0,71.0,53.2,15.1,28.5,33.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99,100,7,other,m,1.0,89.5,56.0,81.5,36.5,66.0,46.8,14.8,23.0,27.0
100,101,7,other,m,1.0,88.6,54.7,82.5,39.0,64.4,48.0,14.0,25.0,33.0
101,102,7,other,f,6.0,92.4,55.0,89.0,38.0,63.5,45.4,13.0,25.0,30.0
102,103,7,other,m,4.0,91.5,55.2,82.5,36.5,62.9,45.9,15.4,25.0,29.0
103,104,7,other,f,3.0,93.6,59.9,89.0,40.0,67.6,46.0,14.8,28.5,33.5

In [82]:
df2.fillna(0)

,case,site,Pop,sex,age,hdlngth,skullw,totlngth,taill,footlgth,earconch,eye,chest,belly
0,1,1,Vic,m,8.0,94.1,60.4,89.0,36.0,74.5,54.5,15.2,28.0,36.0
1,2,1,Vic,f,6.0,92.5,57.6,91.5,36.5,72.5,51.2,16.0,28.5,33.0
2,3,1,Vic,f,6.0,94.0,60.0,95.5,39.0,75.4,51.9,15.5,30.0,34.0
3,4,1,Vic,f,6.0,93.2,57.1,92.0,38.0,76.1,52.2,15.2,28.0,34.0
4,5,1,Vic,f,2.0,91.5,56.3,85.5,36.0,71.0,53.2,15.1,28.5,33.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99,100,7,other,m,1.0,89.5,56.0,81.5,36.5,66.0,46.8,14.8,23.0,27.0
100,101,7,other,m,1.0,88.6,54.7,82.5,39.0,64.4,48.0,14.0,25.0,33.0
101,102,7,other,f,6.0,92.4,55.0,89.0,38.0,63.5,45.4,13.0,25.0,30.0
102,103,7,other,m,4.0,91.5,55.2,82.5,36.5,62.9,45.9,15.4,25.0,29.0
103,104,7,other,f,3.0,93.6,59.9,89.0,40.0,67.6,46.0,14.8,28.5,33.5

In [87]:
df2.dropna()

,Case,Site,Pop,Sex,Age,Hdlngth,Skullw,Totlngth,Taill,Footlgth,Earconch,Eye,Chest,Belly
0,1,1,Vic,m,8,94.1,60.4,89.0,36.0,74.5,54.5,15.2,28.0,36.0
1,2,1,Vic,f,6,92.5,57.6,91.5,36.5,72.5,51.2,16.0,28.5,33.0
2,3,1,Vic,f,6,94.0,60.0,95.5,39.0,75.4,51.9,15.5,30.0,34.0
3,4,1,Vic,f,6,93.2,57.1,92.0,38.0,76.1,52.2,15.2,28.0,34.0
4,5,1,Vic,f,2,91.5,56.3,85.5,36.0,71.0,53.2,15.1,28.5,33.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99,100,7,other,m,1,89.5,56.0,81.5,36.5,66.0,46.8,14.8,23.0,27.0
100,101,7,other,m,1,88.6,54.7,82.5,39.0,64.4,48.0,14.0,25.0,33.0
101,102,7,other,f,6,92.4,55.0,89.0,38.0,63.5,45.4,13.0,25.0,30.0
102,103,7,other,m,4,91.5,55.2,82.5,36.5,62.9,45.9,15.4,25.0,29.0
103,104,7,other,f,3,93.6,59.9,89.0,40.0,67.6,46.0,14.8,28.5,33.5

In [88]:
# capitalizing columns
df2.columns = df2.columns.str.capitalize()

In [89]:
# converting age to integer
df2['Age'] = df2['Age'].fillna(0).astype(int)

In [90]:
df2

,Case,Site,Pop,Sex,Age,Hdlngth,Skullw,Totlngth,Taill,Footlgth,Earconch,Eye,Chest,Belly
0,1,1,Vic,m,8,94.1,60.4,89.0,36.0,74.5,54.5,15.2,28.0,36.0
1,2,1,Vic,f,6,92.5,57.6,91.5,36.5,72.5,51.2,16.0,28.5,33.0
2,3,1,Vic,f,6,94.0,60.0,95.5,39.0,75.4,51.9,15.5,30.0,34.0
3,4,1,Vic,f,6,93.2,57.1,92.0,38.0,76.1,52.2,15.2,28.0,34.0
4,5,1,Vic,f,2,91.5,56.3,85.5,36.0,71.0,53.2,15.1,28.5,33.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99,100,7,other,m,1,89.5,56.0,81.5,36.5,66.0,46.8,14.8,23.0,27.0
100,101,7,other,m,1,88.6,54.7,82.5,39.0,64.4,48.0,14.0,25.0,33.0
101,102,7,other,f,6,92.4,55.0,89.0,38.0,63.5,45.4,13.0,25.0,30.0
102,103,7,other,m,4,91.5,55.2,82.5,36.5,62.9,45.9,15.4,25.0,29.0
103,104,7,other,f,3,93.6,59.9,89.0,40.0,67.6,46.0,14.8,28.5,33.5

# Statistical Analysis

In [117]:
# putting cols into category
numerical_cols = [col for col in df2.select_dtypes(include=['int64', 'float64'])]
categorical_cols = [col for col in df2.select_dtypes(include=['object', 'category'])]

In [118]:
for col in numerical_cols:
    min_value = df2[col].min()
    max_value = df2[col].max()
    mean = df2[col].mean()
    median = df2[col].median()
    mode = df2[col].mode().iloc[0]
    range = max_value - min_value

    print(f"For {col}")
    print(f"    Minimum value = {min_value}")
    print(f"    Maximum value = {max_value}")
    print(f"    Mean = {mean:.2f}")
    print(f"    Median = {median:.2f}")
    print(f"    Mode = {mode:.2f}")
    print(f"    Range = {range:.2f}\n")

For Case
    Minimum value = 1
    Maximum value = 104
    Mean = 52.50
    Median = 52.50
    Mode = 1.00
    Range = 103.00

For Site
    Minimum value = 1
    Maximum value = 7
    Mean = 3.62
    Median = 3.00
    Mode = 1.00
    Range = 6.00

For Age
    Minimum value = 0
    Maximum value = 9
    Mean = 3.76
    Median = 3.00
    Mode = 3.00
    Range = 9.00

For Hdlngth
    Minimum value = 82.5
    Maximum value = 103.1
    Mean = 92.60
    Median = 92.80
    Mode = 93.30
    Range = 20.60

For Skullw
    Minimum value = 50.0
    Maximum value = 68.6
    Mean = 56.88
    Median = 56.35
    Mode = 57.60
    Range = 18.60

For Totlngth
    Minimum value = 75.0
    Maximum value = 96.5
    Mean = 87.09
    Median = 88.00
    Mode = 89.00
    Range = 21.50

For Taill
    Minimum value = 32.0
    Maximum value = 43.0
    Mean = 37.01
    Median = 37.00
    Mode = 38.00
    Range = 11.00

For Footlgth
    Minimum value = 60.3
    Maximum value = 77.9
    Mean = 68.46
    Median = 68.00
    Mode = 73.20
    Range = 17.60

For Earconch
    Minimum value = 40.3
    Maximum value = 56.2
    Mean = 48.13
    Median = 46.80
    Mode = 44.90
    Range = 15.90

For Eye
    Minimum value = 12.8
    Maximum value = 17.8
    Mean = 15.05
    Median = 14.90
    Mode = 14.40
    Range = 5.00

For Chest
    Minimum value = 22.0
    Maximum value = 32.0
    Mean = 27.00
    Median = 27.00
    Mode = 28.00
    Range = 10.00

For Belly
    Minimum value = 25.0
    Maximum value = 40.0
    Mean = 32.59
    Median = 32.50
    Mode = 32.00
    Range = 15.00

In [ ]:
# for col in categorical_cols:
#     print(f"{col} = {df2[col].value_counts()}\n")

### Measures of Spread